.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*
Custom CSS
*/
.over-wrapper{
  width: 500px;
  margin-left: 1%;
  margin-top: 2%;
}

.over-wrapper img{
  float: left;
  height: fit-content;
  height: 100px;
}

.item {
  float: right;
  margin-top: 3%;
  padding: 20px;
  margin-left: 1%;
}

.item button{
  background-color: greenyellow;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  box-shadow: #a9a9a9 5px 5px 10px;
  color: red;
}
.cart-wrapper{
  position: absolute;
  right: 0px;
}

.cart-wrapper img{
  width: 100px;
  height: 100px;
}

.cart-wrapper span{
  background: red;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  margin-right: 6px;
  position: relative;
  top: -50px;
  left: -61px;
}



/*
Custom CSS ends here
*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
